/****************
BASICS
****************/

body {
	font-family: "Chapeau TRIAL", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

a {
	color: #000;
}

p, ul, li {
	font-weight: 100;
}

/****************
HOMEPAGE
****************/
.home nav a {
	color: #FFF;
}

/****************
PAGE CONTENT
****************/
.content ul > li:before {
  content: "\2014";
  text-indent: -5px;
  margin-right: 5px;
}

/****************
BROWSERSYNC
****************/
#__bs_notify__ { top:95% !important; right: 10px !important; border-radius: 15px !important; height:60px !important; }
