/**
 * Basic styling
 */

body {
	background-image: linear-gradient(-90deg, #1641E4 0%, rgba(139,5,237,0.82) 100%);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

p, ul, li {
	font-weight: 100;
}

a {
	color: #FFF;
}